@import "tailwindcss/preflight";
@tailwind utilities;

@import "tailwindcss";
@import '@fontsource/poppins/300.css';
@import '@fontsource/poppins/400.css';
@import '@fontsource/poppins/500.css';
@import '@fontsource/poppins/600.css';
@import '@fontsource/poppins/700.css';

body {
  font-family: 'Poppins', sans-serif;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;

  /* Custom Colors */
  --primary: #007bff; /* Example primary color */
  --secondary: #6c757d; /* Example secondary color */
  --black: #000000; /* Black color */

 --color-midnight: #121063;
 --color-tahiti: #3ab7bf;
 --color-bermuda: #78dcca;

  /* Dark Theme Colors */
  --darkText: rgba(255, 255, 255, 0.87);
  --darkBg: #242424;
  --darkLink: #646cff;
  --darkLinkHover: #535bf2;
  --darkButtonBg: #1a1a1a;
  --darkButtonBorderHover: #646cff;

  /* Light Theme Colors */
  --lightText: #213547;
  --lightBg: #ffffff;
  --lightLinkHover: #747bff;
  --lightButtonBg: #f9f9f9;

  /* Apple Colors */
  --appleBlack: #1d1d1f;
  --applegray: #f5f5f7;
  --appleBlue: #0071e3;
  --appleBlueHover: #0077ed;
  --appleNavbarText: rgba(255,255,255,0.8);
  --appleDarkGray: #333336;
  --appleDarkGrayHover: #2c2c2c;
  --appleLightGray: #D6D6D7;
  --appleOffWhite: #fbfbfd;
  --appleTextGray: #6E6E73;
  --appleDarkBg: #242426;
  --appleLightBg: #FAFAFA;
  --appleButtonGray: #D2D2D7;

  /* Scrollbar Colors */
  --scrollbarTrack: #f1f1f1;
  --scrollbarThumb: #888;
  --scrollbarThumbHover: #555;

  /* Product Display Gradient */
  --product-display-gradient-start: #0c1247;
  --product-display-gradient-stop1: #30337d;
  --product-display-gradient-stop2: #505dad;
  --product-display-gradient-stop3: #7d8ed1;
  --product-display-gradient-stop4: #aebce6;
  --product-display-gradient-end: #fafafc;

  color: var(--darkText);
  background-color: var(--darkBg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--darkLink);
  text-decoration: inherit;
}
a:hover {
  color: var(--darkLinkHover);
}

body {
  background-color: white;
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--darkButtonBg);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--darkButtonBorderHover);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--lightText);
    background-color: var(--lightBg);
  }
  a:hover {
    color: var(--lightLinkHover);
  }
  button {
    background-color: var(--lightButtonBg);
  }
}

/* Custom Scrollbar Styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--scrollbarTrack);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--scrollbarThumb);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbarThumbHover);
}

.product-display-gradient {
  background: linear-gradient(
    to bottom,
    var(--product-display-gradient-start) 0%,
    var(--product-display-gradient-stop1) 18%,
    var(--product-display-gradient-stop2) 33%,
    var(--product-display-gradient-stop3) 49%,
    var(--product-display-gradient-stop4) 73%,
    var(--product-display-gradient-end) 100%
  );
}


